name: examples

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-24.04
    timeout-minutes: 45

    strategy:
      matrix:
        example:
          - { dir: 'bls', os: 'arch' }
          - { dir: 'bls', os: 'fedora' }
          - { dir: 'bls', os: 'fedora-compat' }
          - { dir: 'bls', os: 'rawhide' }
          - { dir: 'bls', os: 'rhel9' }
          # This one is currently failing, needs debugging
          # https://github.com/containers/composefs-rs/pull/168#pullrequestreview-3088673152
          # We believe it's mount API changes causing /sysroot to be mounted
          # at the wrong place.
          # - { dir: 'bls', os: 'ubuntu' }
          - { dir: 'uki', os: 'arch' }
          - { dir: 'uki', os: 'fedora' }
          - { dir: 'unified', os: 'fedora' }
          - { dir: 'unified-secureboot', os: 'fedora' }
          - { dir: 'bls', os: 'arch', fsfmt: 'ext4', verity: 'none' }
          - { dir: 'bls', os: 'arch', fsfmt: 'xfs', verity: 'none' }
      fail-fast: false

    steps:
    - name: Enable fs-verity on /
      run: sudo tune2fs -O verity $(findmnt -vno SOURCE /)

    - name: Setup /dev/kvm
      run: |
        echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm.rules
        sudo udevadm control --reload-rules
        sudo udevadm trigger --name-match=kvm --settle
        ls -l /dev/kvm

    - name: Install dependencies
      run: |
        echo 'deb-src http://azure.archive.ubuntu.com/ubuntu noble main' | sudo tee /etc/apt/sources.list.d/debsrc.list

        sudo apt-get update
        sudo apt-get install -y \
          erofs-utils \
          fsverity \
          mtools \
          libvirt-daemon \
          libvirt-daemon-driver-qemu \
          python3-libvirt \
          qemu-system \
          systemd-boot-efi
        sudo apt-get build-dep systemd e2fsprogs

    - name: Get a newer podman for heredoc support (from plucky)
      run: |
        echo 'deb http://azure.archive.ubuntu.com/ubuntu plucky universe main' | sudo tee /etc/apt/sources.list.d/plucky.list
        sudo apt update
        sudo apt install -y crun/plucky podman/plucky

    - uses: actions/checkout@v4

    - name: Install patched tools
      run: |
        mkdir ~/bin
        examples/common/install-patched-tools ~/bin

    - name: Run example tests
      run: |
        export PATH="${HOME}/bin:${PATH}"
        export FS_FORMAT=${{ matrix.example.fsfmt }}
        export FS_VERITY_MODE=${{ matrix.example.verity }}
        examples/test/run ${{ matrix.example.dir }} ${{ matrix.example.os }}
